# DM note: 
# My preference for .gitignore files is the whitelist model, in which we ignore everything by default and only track what is explicitly listed. 

# Ignore everything
*
# Except these files and patterns
!.gitignore
!README.md

# Folders must be whitelisted first before their contents
!_images/
!_images/swiftest_social_preview.svg

!basic_simulation/
!basic_simulation/.gitattributes
!basic_simulation/basic_simulation.ipynb

!compiling_local/
!compiling_local/compiling_local.md

!user_defined_forces/
!basic_simulation/.gitattributes
!user_defined_forces/user_defined_forces.ipynb
!user_defined_forces/swiftest_user.f90
